<div class="row">
    <div class="col-md-6">
        <h2>{{title}}</h2>
        <form [ngFormModel]="createUserForm" #ff="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" [(ngModel)]="user.name" class="form-control" #name="ngForm" ngControl="name" placeholder="enter name" required minlength="5" maxlength="20">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="user.email" ngControl="email" #email="ngForm" class="form-control" placeholder="enter emal" required minlength="5" maxlength="20">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="user.phone" ngControl="phone" #phone="ngForm" placeholder="enter phone" class="form-control" required minlength="10" maxlength="32">
            </div>
            <div ngControlGroup="address">
                <div class="form-group">
                    <input type="text" [(ngModel)]="user.address.city" ngControl="city" placeholder="enter city" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="user.address.street" ngControl="street" placeholder="enter street" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="user.address.zipcode" ngControl="zipcode" placeholder="enter zipcode" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="user.address.suite" ngControl="suite" placeholder="enter suite" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="!ff.valid" class="btn btn-info" type="submit" >submit</button>
            </div>
        </form>
        <div class="container">
            <div *ngIf="name.touched && name.errors" class="alert alert-danger">
                <div *ngIf="name.errors.required" >
                    Enter Name
                </div>
                <div *ngIf="name.errors.minlength">
                        Enter altest {{name.errors.minlength.requiredLength-name.errors.minlength.actualLength}} characters
                </div>               
            </div>

            <div *ngIf="email.touched && email.errors" class="alert alert-danger">
                <div *ngIf="email.errors.required" >
                    Enter Email
                </div>
                <div *ngIf="email.errors.minlength">
                        Enter altest {{email.errors.minlength.requiredLength-email.errors.minlength.actualLength}} characters
                </div>
            </div>

            <div *ngIf="phone.touched && phone.errors" class="alert alert-danger">
                <div *ngIf="phone.errors.required">
                    Enter Phone
                </div>
                <div *ngIf="phone.errors.minlength">
                        Enter altest {{phone.errors.minlength.requiredLength-phone.errors.minlength.actualLength}} numbers
                </div>
            </div>
        </div>
    </div>
</div>